@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mogra|Pacifico|Bangers|Knewave|Share+Tech|Archivo|Poppins');

html {
    font-family: 'Poppins';
}

/* * {
    border: solid 1px red;
} */

nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.div-header a{
    color: black;
    text-decoration: none;
}

.div-header a:hover{
    background-color: #dddbcb;
}

footer{
    text-align:center;
    font-size: large;
}

/* Header CSS */

.div-header{
    display: flex;
    justify-content: space-around;
}

.div-header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-left: 20px;
}

#pro-pic{
    width:200px;
    justify-content: center;
}

#img-box{
    flex-basis:30%;
    flex-shrink: 0;
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 0px;
    flex-grow: inherit;
}

h2{
    font-size:40px;
}

h3{
    margin:0px;
    font-family: 'Bangers';
    color:#1b9aaa;
    font-size: 40px;
}


/* Body CSS */

#project-text-header{
    margin:0px;
}

.div-body{
    display: flex;
    justify-content: flex-start;
}

#bio{
    flex-basis:30%;
    flex-shrink: 0;
    padding:10px;
}

#project-building-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-content:center;
    text-align: center;
}

#project-heading{
    width:100%;
    font-size:40px;
    font-weight: bold;
    margin-top:10px;
}

.blue-block{
    background-color: #1b9aaa;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    flex-grow:1;
    margin: 5px;
    border:black 0.5px solid;
}

.grey-block{
    background-color: #dddbcb;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    flex-grow:1;
    margin: 5px;
    border:black 0.5px solid;
}

.white-block{
    background-color: white;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 5px;
    border:black 0.5px solid;
}

.yellow-block{
    background-color: #F4D352;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 5px;
    border:black 0.5px solid;
}

.black-block{
    background-color: black;
    color: white;
    width: 30%;
    height: 30%;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 5px;
    border:black 0.5px solid;
}

.project-icon{
    width: 50px;
}

