@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Pacifico|Bangers|Share+Tech|Archivo|Poppins|Bubblegum+Sans|Knewave|Sofia');

html {
    font-family: 'Poppins';
    background-color: black;
    color:white;

}

/* * {
    border: solid 1px red;
} */


footer{
    text-align:center;
    font-size: small;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
}

header{
    background-color:white;
    padding: 10px;
}

body{
    margin:0px;
    padding:0px;
    }

.div-header{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.div-header-text{
    display: flex;
    width:100%;
}

a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}

nav{
    display: flex;
    width:inherit;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#text-sort{
    width:100%;
    font-family: 'Bangers';
    font-size:30px;
    color:#1b9aaa;
}

#nav-sort{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

div .nav-hover-bubble{
    flex-basis:30%;
    width:100%;
    text-align: center;
}

.nav-hover-bubble:hover{
    border-radius:25px;
    background-color: #dddbcb;
}

/* --------------------------------------------------------------------------------------------- */

/* body */

/* --------------------------------------------------------------------------------------------- */

p{
    padding-top:10px;
    font-family: 'Pacifico';
    text-align: center;
    font-size: 20px;
}

.div-body{
    display:flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#form-wrapper{
    order:1;
    width:48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pic-wrapper{
    order:0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

img{
    width:100%;
    height: inherit;
}

/* Contact Form */

#q0{
    background-color: white;
    color: black;
    margin-top:20px;
    margin-right:20px;
    text-align: center;
    font-size: 12px;
}

#q1{
    justify-content: center;
    display: flex;
    background-color: white;
    margin-top: 0px;
    margin-right:20px;
    margin-bottom: 20px;
}

/* Picture */

#q2{
    order:1;
    justify-content: center;
    align-self: center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    color: black;
}

#q3{
    margin-top:20px;
    margin-left: 20px;
    order: 0;
    background:
    radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 46%),
	radial-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.3) 46%), 
    #e71d36;
	background-position: 0 0, 80px 80px;
	background-size:10px 10px, 10px 10px, cover;
}

#q4{
    margin-bottom:20px;
    margin-left: 20px;
    order:2;
    background:
    radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 46%),
	radial-gradient(rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.3) 46%), 
    #1b9aaa;
	background-position: 0 0, 80px 80px;
	background-size:10px 10px, 10px 10px, cover;
}

/* Form */

form{
    width:100%;
    display: flex;
    flex-direction: column;
    color:black;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

.form-item{
    display:flex;
    justify-content: space-between;
}

#form-item-button{
    display:flex;
    justify-content: flex-end;
    padding:0;
}

input{
    width:70%;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 8px;
}

textarea{
    width:65%;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5px;
    font-size:8px;
    font-family: 'Poppins';
}

button{
    width:70%;
    font-family:'Poppins';
    align-items: flex-end;
    margin-top:10px;
    margin-right:5px;
    font-size:8px;
}

label{
    display:flex;
    align-items:center;
    margin-left:5px;
    font-size: 8px;
}

/* --------------------------------------------------------------------------------------------- */

/* media queries */

/* --------------------------------------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */

/* --------------------------------------------------------------------------------------------- */

@media (min-width: 576px) { 
    
    #text-sort{
        font-size:35px;
    }

    .div-header{
        height: 50px;
    }

    input{
        font-size:12px;
    }

    button{
        font-size:12px;
    }

    label{
        font-size:12px;
    }

    a{
        font-size: 16px;
    }

    #q0{
    font-size: 14px;
    }
    
    #q1{
    margin-top: 20px;
    }

    textarea{
        width:70%;
    }

    footer{
        font-size:20px;
    }    
}

/* --------------------------------------------------------------------------------------------- */

/* Medium devices (tablets, 768px and up)*/

/* --------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
    #text-sort{
        font-size:50px;
    }

    .div-header{
        height: 60px;
    }

    p{
        font-size: 40px;
    }

    input{
        font-size:14px;
    }

    button{
        font-size:14px;
    }

    label{
        font-size:14px;
    }

    #q0{
        font-size: 20px;
    }
}

/* --------------------------------------------------------------------------------------------- */

/* Large devices (desktops, 992px and up) */

/* --------------------------------------------------------------------------------------------- */

@media (min-width: 992px) {
    #text-sort{
        font-size:50px;
    }

    .div-header{
        height: 60px;
    }

    p{
        font-size: 60px;
    }

    input{
        font-size:16px;
    }

    button{
        font-size:16px;
    }

    label{
        font-size:16px;
    }

    #q0{
        font-size: 25px;
    }
}

